.page {
    height: 100%;
    background-color: var(--bs-gray-800);
    display: grid;
    color: var(--bs-white);
    grid-template-columns: 1fr minmax(200px, 20%);
    grid-template-rows: 1fr 80px;
    grid-template-areas:
        "chat aside"
        "input aside";
}

.chat {
    grid-area: chat;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
}

.inputArea {
    grid-area: input;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.inputField {
    /* background-color: var(--bs-gray-600) !important; */
    /* color: var(--bs-white); */
}