.page {
    height: 100%;
    background-color: var(--bs-gray-800);
    display: grid;
    color: var(--bs-white);
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 80px;
    grid-template-areas:
        "chat aside"
        "input aside";
}

.chat {
    grid-area: chat;
}

.aside {
    grid-area: aside;
    border-inline-start: 1px solid var(--bs-gray-700);
    background-color: var(--bs-gray-900);
}

.memberList {}

.memberListItem {}

.inputArea {
    grid-area: input;
    padding: 1rem;
}

.inputField {
    /* background-color: var(--bs-gray-600) !important; */
    /* color: var(--bs-white); */
    border-radius: 0.75rem;
}
